@use "@angular/material" as mat;
@import "palette";

$primary: $md-primary;
$secondary: $md-warn;
$success: $md-accent;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
);




