@use "@angular/material" as mat;
@import "palette";

$agwebsite-primary: mat.define-palette($md-primary);
$agwebsite-accent: mat.define-palette($md-accent);
$agwebsite-warn: mat.define-palette($md-warn);

// $main-dark: mat.define-palette($md-main-dark);
// $main-light-dark: mat.define-palette($md-main-light-dark);
// $main-success: mat.define-palette($md-main-success);
// $main-error: mat.define-palette($md-main-error);
// $main-warning: mat.define-palette($md-main-warning);
// $main-info: mat.define-palette($md-main-info);