// ============================================
//  Import breakpoint
@import "../../../assets/css/variables/breakpoints";

$custom-height-img-header: (
    default: 300px,
    mobile11: 300px,
    mobile12: 300px,
    mobile13: 400px,
    tablet1: 600px,
    tablet2: 700px,
    desktop1: 700px,
    desktop2: 700px,
    desktop3: 800px,
    desktop4: 900px,
    desktop5: 1000px,
    desktop6: 1000px,
);


$custom-height-img-about: (
    default: 300px,
    mobile11: 300px,
    mobile12: 300px,
    mobile13: 400px,
    tablet1: 600px,
    tablet2: 700px,
    desktop1: 700px,
    desktop2: 700px,
    desktop3: 700px,
    desktop4: 700px,
    desktop5: 700px,
    desktop6: 700px,
);


$custom-height-location: (
    default: 200px,
    mobile11: 200px,
    mobile12: 200px,
    mobile13: 200px,
    tablet1: 250px,
    tablet2: 300px,
    desktop1: 300px,
    desktop2: 300px,
    desktop3: 300px,
    desktop4: 300px,
    desktop5: 300px,
    desktop6: 300px,
);