$md-primary: (
    50: #fffefd,
    100: #fffdfb,
    200: #fffcf9,
    300: #fffaf6,
    400: #fff9f4,
    500: #fff8f2,
    600: #fff7f0,
    700: #fff6ee,
    800: #fff5ec,
    900: #fff3e8,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$md-accent: (
    50: #e6eae5,
    100: #c2cbbe,
    200: #99a893,
    300: #708568,
    400: #516b47,
    500: #325127,
    600: #2d4a23,
    700: #26401d,
    800: #1f3717,
    900: #13270e,
    A100: #85ff66,
    A200: #5cff33,
    A400: #33ff00,
    A700: #2ee600,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$md-warn: (
    50: #fdefe3,
    100: #f9d7b8,
    200: #f5bd89,
    300: #f1a259,
    400: #ee8e36,
    500: #eb7a12,
    600: #e97210,
    700: #e5670d,
    800: #e25d0a,
    900: #dd4a05,
    A100: #ffffff,
    A200: #ffded2,
    A400: #ffb89f,
    A700: #ffa686,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$md-main-dark: (
    50: #e2e3e5,
    100: #b7b9bf,
    200: #878b95,
    300: #575d6a,
    400: #333a4a,
    500: #0f172a,
    600: #0d1425,
    700: #0b111f,
    800: #080d19,
    900: #04070f,
    A100: #528bff,
    A200: #1f69ff,
    A400: #004eeb,
    A700: #0046d1,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff
    )
);

$md-main-light-dark: (
    50: #fefeff,
    100: #fcfdfe,
    200: #fbfbfd,
    300: #f9f9fc,
    400: #f7f8fc,
    500: #f6f7fb,
    600: #f5f6fa,
    700: #f3f5fa,
    800: #f2f3f9,
    900: #eff1f8,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$md-main-success: (
    50: #eff6e5,
    100: #d6e9bf,
    200: #bbdb95,
    300: #9fcd6a,
    400: #8bc24a,
    500: #76b72a,
    600: #6eb025,
    700: #63a71f,
    800: #599f19,
    900: #46900f,
    A100: #d9ffc1,
    A200: #b9ff8e,
    A400: #9aff5b,
    A700: #8aff41,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$md-main-error: (
    50: #faeaed,
    100: #f3cad1,
    200: #eba6b2,
    300: #e28293,
    400: #dc687c,
    500: #d64d65,
    600: #d1465d,
    700: #cc3d53,
    800: #c63449,
    900: #bc2537,
    A100: #fff8f9,
    A200: #ffc5cb,
    A400: #ff929e,
    A700: #ff7987,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$md-main-warning: (
    50: #ffede0,
    100: #ffd1b3,
    200: #ffb380,
    300: #ff944d,
    400: #ff7d26,
    500: #ff6600,
    600: #ff5e00,
    700: #ff5300,
    800: #ff4900,
    900: #ff3800,
    A100: #ffffff,
    A200: #fff4f2,
    A400: #ffc9bf,
    A700: #ffb4a6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$md-main-info: (
    50: #e5e6ef,
    100: #bdc0d8,
    200: #9297be,
    300: #666da3,
    400: #454d90,
    500: #242e7c,
    600: #202974,
    700: #1b2369,
    800: #161d5f,
    900: #0d124c,
    A100: #848aff,
    A200: #515aff,
    A400: #1e2aff,
    A700: #0412ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff
    )
);
