@import "../assets/css/mixins/mixins-screen";
@import "../assets/css/variables/custom_variables";

.background {
    &_menu {
        backdrop-filter: blur(10px);
        border-radius: 20px;
        background-color: #ffe4c442;
    }
    &_skills {
        backdrop-filter: blur(10px);
        background-color: #32512742;
    }
}

.background-color-body {
    background-color: #fff3e8;
}

.link-dark:hover {
    font-weight: bolder;
}

// ===========< Header >===========

.imgHeader {
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

// ===========< About >===========

#apropos {
    height: 875px;
}

// ===========< Skills >===========

.skills {
    background-image: url("../assets/image/background_skills.png");
    &__desktop {
        height: 250px;
    }
}

.card {
    backdrop-filter: blur(10px);
    background: linear-gradient(
        36deg,
        rgb(243 243 243 / 65%) 0%,
        rgb(195 195 195 / 72%) 50%,
        rgb(179 170 170 / 81%) 100%
    );
    border: none;
}

// ===========< Portfolio >===========

.background-img-portfolio {
    background-image: url("../assets/image/background_user_book.png");
    background-size: cover;
    border-radius: 20px;
}

.card-projet-portfolio {
    backdrop-filter: blur(40px);
    border-radius: 20px;
}

// ===========< Contact >===========

// ===========< Mixins >===========
@each $breakpoint in $breakpointsKeys {
    @include mq($breakpoint) {
        .height-img-header {
            height: map-get($custom-height-img-header, $breakpoint);
        }
        .width-location {
            width: map-get($custom-width-location, $breakpoint);
        }
        .height-location {
            height: map-get($custom-height-location, $breakpoint);
        }
        .width-img-about {
            height: map-get($custom-width-img-about, $breakpoint);
        }
        .height-img-about {
            height: map-get($custom-height-img-about, $breakpoint);
        }
    }
}
