@import "../assets/css/mixins/mixins-screen";
@import "../assets/css/variables/custom_variables";


.background {
    &_menu {
        backdrop-filter: blur(10px);
        border-radius: 20px;
        background-color: #ffe4c442;
    }
    &_skills {
        backdrop-filter: blur(10px);
        background-color: #32512742;
    }
}

.background-color-body {
    background-color: #fff3e8;
}

.link-dark:hover {
    font-weight: bolder;
}

// ===========< Header >===========

.imgHeader {
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

// ===========< About >===========

#apropos {
    height: 875px;
}

// ===========< Skills >===========

.skills {
    background-image: url("../assets/image/background_skills.png");
    &__desktop {
        height: 800px;
    }
}

.card {
    width: 350px;
    height: 350px;
    backdrop-filter: blur(10px);
    background: linear-gradient(
        36deg,
        rgb(243 243 243 / 65%) 0%,
        rgb(195 195 195 / 72%) 50%,
        rgb(179 170 170 / 81%) 100%
    );
    border: none;
}

// ===========< Portfolio >===========


// ===========< Contact >===========



// ===========< Mixins >===========
@each $breakpoint in $breakpointsKeys {
    @include mq($breakpoint) {
        .width-img-header {
            width: map-get($custom-width-img-header, $breakpoint);
        }
        .height-img-header {
            height: map-get($custom-height-img-header, $breakpoint);
        }
        .width-location {
            width: map-get($custom-width-location, $breakpoint);
        }
        .height-location {
            height: map-get($custom-height-location, $breakpoint);
        }
        .width-img-about {
            height: map-get($custom-width-img-about, $breakpoint);
        }
        .height-img-about {
            height: map-get($custom-height-img-about, $breakpoint);
        }
    }
}

// ===========< Animations >===========
.wave {
    position: relative;
}

.wave span {
    position: relative;
    display: inline-block;
    animation: animate 3s ease-in;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    20% {
        transform: translateY(-20px);
        opacity: 0.2;
    }

    40%,
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.anim {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.anim:first-of-type {
    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s infinite;
}

.anim:last-of-type {
    width: 0px;
    animation: reveal 7s infinite;
}

.animdiv:last-of-type span {
    margin-left: -355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }
    20% {
        margin-left: -800px;
    }
    35% {
        margin-left: 0px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }
    20% {
        opacity: 1;
        width: 0px;
    }
    30% {
        width: 355px;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 355px;
    }
}