@import "../assets/css/mixins/mixins";
@import "../assets/css/variables/custom_variables";
@import "../assets/css/variables/breakpoints";

.background {
    &_menu {
        backdrop-filter: blur(10px);
        border-radius: 20px;
        background-color: #ffe4c442;
    }
    &_skills {
        backdrop-filter: blur(10px);
        background-color: #32512742;
    }
}

.background-color-body {
    background-color: #fff3e8;
}

.link-dark:hover {
    font-weight: bolder;
}

.text-justify {
    text-align: justify;
}

// ===========< Header >===========
#header-desktop {
    height: 400px;
}

.imgHeader {
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

#emojiContainer {
    font-size: 35px;
}

// ===========< Home >===========
.btn-home {
    border-radius: 50px;

}

// ===========< About >===========

.icon-about {
    font-size: 40px;
}

// ===========< Skills >===========

.skills {
    background-image: url("../assets/image/background_skills.png");
}

.card {
    backdrop-filter: blur(10px);
    background: linear-gradient(
        36deg,
        rgb(243 243 243 / 65%) 0%,
        rgb(195 195 195 / 72%) 50%,
        rgb(179 170 170 / 81%) 100%
    );
    border: none;
}

// ===========< Portfolio >===========

// ===========< Contact >===========

.background-contact {
    color: white;
    background-color: #103717e5;
}

// ===========< Mixins >===========
@each $breakpoint in $breakpointsKeys {
    @include mq($breakpoint) {
        .height-img-header {
            height: map-get($custom-height-img-header, $breakpoint);
        }
        .height-location {
            height: map-get($custom-height-location, $breakpoint);
        }
        .height-img-about {
            height: map-get($custom-height-img-about, $breakpoint);
        }
    }
}

fa-icon {
    font-size: 20px;
}

.icon__footer {
    font-size: 20px;
}
