@use "@angular/material" as mat;
@include mat.core();

@import "./assets/css/fonts/fonts";

@import "./assets/css/mixins/mixins";

@import "./assets/css/utilities/spacing";
@import "./assets/css/utilities/typography";

@import "./assets/css/variables/breakpoints";
@import "./assets/css/variables/colors";
@import "./assets/css/variables/font-sizes";
@import "./assets/css/variables/palette";
@import "./assets/css/variables/spacing";
@import "./assets/css/variables/custom_variables";

$agwebsite-theme: mat.define-light-theme(
    (
        color: (
          primary: $agwebsite-primary,
          accent: $agwebsite-accent,
          warn: $agwebsite-warn
        ),
      )
  );


  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include mat.all-component-themes($agwebsite-theme);



